
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
</head>
<body>
<div>
    <form action="/Employee/SaveEmployee" method="post">
        First Name: <input type="text" id="TxtFName" name="FirstName" value="" /><br />
        Last Name: <input type="text" id="TxtLName" name="LastName" value="" /><br />
        Salary: <input type="text" id="TxtSalry" name="LastName" value="" /><br />
        <input type="submit" name="BtnSave" value="SaveEmployee" />
        <input type="button" name="BtnRestet" value="Reset" />
    </form>
</div>
</body>
</html>
